<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aman Bhargava</title>


    <%- include('includes/head') %>

        <!-- Boostrap JS -->
        <script src="/scripts/bootstrap.min.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="/styles/index.css">

</head>

<body>

    <!-- header -->
    <%- include('includes/header') %>

        <div id="backdrop"></div>
        <!-- main -->
        <main>

            <div class="animation-area ">
                <ul class="box-area">
                    <li>node.js</li>
                    <li></li>
                    <li>CSS</li>
                    <li>express.js</li>
                    <li></li>
                    <li>React.js</li>
                </ul>

                <p class="fancyText">
                    &lt;Your&gt;
                </p>
                <p class="fancyText">
                    &emsp;&lt;friendly&gt;
                </p>

                <h1 class="greetingHeading">Hey, It's Me</h1>
                <h1 class="nameHeading">Aman Bhargava</h1>

                <p class="fancyText">
                    &emsp;&lt;/Web&gt;
                </p>
                <p class="fancyText">
                    &lt;/Developer&gt;
                </p>
                <p class="introBodyText">
                    And a aspiring Computer Science Engineer
                </p>
            </div>

            <!-- about -->
            <div class="about" id="about">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="about_me_content">
                                <p class="heading">Hi! I'm Aman</p>
                                <p class="sub_heading">A Full Stack Developer based in Jaipur, India.</p>
                                <p class="text">
                                    I'm excited to welcome you to my personal website.
                                    <br>
                                    <br>
                                    I'm a Computer Science student currently pursuing my Bachelor’s from SKIT, Jaipur
                                    with a
                                    passion for developing fascinating and your desired websites.
                                    <br>
                                    I created this website to share my knowledge and experiences with you, and to
                                    connect with like-minded individuals who share my interests. Hope you find it
                                    fascinating and inspiring.
                                    <br>
                                    <br>

                                    I've spent the last 2 years on a self-guided web development journey and have
                                    developed
                                    a strong understanding of various tech stacks, including HTML, CSS, Vanilla js,
                                    Jquery,
                                    SASS and presently acquiring knowledge in the most trending UI library React.js.
                                    Enhancing practical skills in backend application development using Node.js,
                                    Express.js, MongoDB, Mongoose and Firebase...
                                    <button class="btnToShow btnToHideAndShow">read more</button>
                                <div class="paraToHide">
                                    As a full stack developer, I am constantly inspired by the limitless potential of
                                    technology. From crafting intricate algorithms to building dynamic user interfaces,
                                    I am
                                    passionate about creating innovative solutions that solve complex problems. Whether
                                    I am
                                    working on the front-end or back-end of a project, I am driven by the challenge of
                                    finding elegant and efficient ways to bring ideas to life.
                                    <button class="btnToHide btnToHideAndShow">read less</button>
                                </div>
                                </p>
                                <div class="row">
                                    <a download="" class="downloadButton" href="/Aman Bhargava resume.pdf" target="_blank">
                                        <button id="resumeDownloadBtn">
                                            <span>
                                                Resume
                                            </span>
                                            <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                                viewBox="0 0 512 512" height="1em" width="1em"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M216 0h80c13.3 0 24 10.7 24 24v168h87.7c17.8 0 26.7 21.5 14.1 34.1L269.7 378.3c-7.5 7.5-19.8 7.5-27.3 0L90.1 226.1c-12.6-12.6-3.7-34.1 14.1-34.1H192V24c0-13.3 10.7-24 24-24zm296 376v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h146.7l49 49c20.1 20.1 52.5 20.1 72.6 0l49-49H488c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z">
                                                </path>
                                            </svg>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 ">
                            <div class="my_image_div">
                                <img src="/images/basketball.jpg" class="img-fluid my_image" alt="My image">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row snap_shorts">
                        <div class="about_cards_div col-lg-2 col-sm-4 col-6">
                            <div>
                                <img src="/images/snap_1.jpg" alt="snap_1" class="img-fluid">
                            </div>
                        </div>
                        <div class="about_cards_div col-lg-2 col-sm-4 col-6">
                            <div>
                                <img src="/images/basketball.jpg" alt="snap_2" class="img-fluid">
                            </div>
                        </div>
                        <div class="about_cards_div col-lg-2 col-sm-4 col-6">
                            <div>
                                <img src="/images/snap_3.jpg" alt="snap_3" class="img-fluid">
                            </div>
                        </div>
                        <div class="about_cards_div col-lg-2 col-sm-4 col-6">
                            <div>
                                <img src="/images/snap_4.jpg" alt="snap_4" class="img-fluid">
                            </div>
                        </div>
                        <div class="about_cards_div col-lg-2 col-sm-4 col-6">
                            <div>
                                <img src="/images/snap_5.jpg" alt="snap_5" class="img-fluid">
                            </div>
                        </div>
                        <div class="about_cards_div col-lg-2 col-sm-4 col-6">
                            <div>
                                <img src="/images/snap_6.jpg" alt="snap_6" class="img-fluid">
                            </div>
                        </div>
                    </div> -->
                </div>

            </div>

            <!-- projects -->
            <div class="project_div" id="project_div">
                <div class="container">
                    <div class="row">
                        <h1>Project's</h1>

                        <% for (project of projectArray){ %>
                            <div class="project_cards_div col-md-6 col-lg-3">
                                <a href="/project/<%= project.projectName %>" target="_self" rel="noopener noreferrer">
                                    <div class="project_cards">
                                        <img src="<%= project.projectImageUrl %>" alt="<%= project.projectName %>"
                                            class="img-fluid">
                                        <p>
                                            <%= project.projectName %> <i class="fas fa-angle-right"></i>
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <% } %>
                    </div>
                    <div class="row" id="projectsRegsiterDiv">
                        Want to see more? Why not join our community, click here to join
                        <button type="button" id="projectsRegsiterBtn">
                            Register &nbsp; <i class="far fa-hand-pointer"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div id="registerModal">

                <div class="modalbody">

                    <p class="modalheading">Register</p>

                    <form action="/register" method="post">
                        <div>
                            <input type="text" name="firstName" id="firstName" required
                                placeholder="First Name (required)">
                        </div>

                        <div>
                            <input type="text" name="lastName" id="lastName" placeholder="Last Name">
                        </div>

                        <div>
                            <input type="email" name="emailID" id="emailID" required placeholder="Email (required)">
                        </div>

                        <div>
                            <input type="tel" name="contactNumber" id="contactNumber" placeholder="Contact Number">
                        </div>

                        <div>
                            <label for="DOB"><strong>D.O.B</strong></label>
                            <input type="date" name="DOB" id="DOB" placeholder="Date Of Birth">
                        </div>

                        <button type="submit" id="registerSubmitForm">Submit</button>

                    </form>
                </div>
            </div>




            <!-- contact form -->
            <%- include('includes/contactForm') %>


        </main>

        <!-- script -->
        <script src="/scripts/index.js"></script>
        <script src="/scripts/ContactForm.js"></script>
</body>

</html>